{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'user/css/login.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'user/js/login.js' %}"></script>
</head>
<body>
    <div class="login-container">
        <div class="left">
            <h1>Welcome to Trendlink</h1>
            <p>Stay up to date with the trends</p>
        </div>
        <div class="right">
            <div class="login-form-container">
                <h2>Login</h2>
                <form id="loginForm" action="{% url 'login-api' %}" data-url="{% url 'login-api' %}">
                    {% csrf_token %}
                    <div>
                        <label for="id_username">Username:</label>
                        <input type="text" id="id_username" name="username" required>
                    </div>
                    <div>
                        <label for="id_password">Password:</label>
                        <input type="password" id="id_password" name="password" required>
                    </div>
                    <button type="submit">Login</button>
                </form>
                <p>Don't have an account? <a href="{% url 'signup' %}">Create one here</a></p>
                <div id="error-message" style="color: red;"></div>
            </div>
        </div>
    </div>
</body>
</html>
