{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'user/js/profile.js' %}"></script>
</head>
<body>
    <a href="{% url 'home' %}" class="home-link">Home</a>
    <div class="profile-container">
        <h1 id="username"></h1>
        <div class="profile-picture">
            <img id="profile-picture" src="" alt="Profile Picture">
        </div>
        <div class="profile-details">
            <p><strong>Username:</strong> <span id="user-username"></span></p>
            <p><strong>Email:</strong> <span id="user-email"></span></p>
            <p><strong>Bio:</strong> <span id="user-bio"></span></p>
            <p><strong>Birth Date:</strong> <span id="user-birth-date"></span></p>
            <button type="button" id="edit-button" style="display:none;" onclick="toggleEditForm()">Edit</button>
            <button type="button" id="connect-button" style="display:none;">Connect</button>
        </div>
        <form id="uploadForm" method="post" enctype="multipart/form-data" style="display:none;">
            {% csrf_token %}
            <input type="file" id="fileInput" name="profile_picture" style="display: none;" required>
            <button type="button" onclick="document.getElementById('fileInput').click();">Upload Profile Picture</button>
        </form>
        <form id="updateForm" method="post" style="display:none;">
            {% csrf_token %}
            <div>
                <label for="id_bio">Bio:</label>
                <textarea id="id_bio" name="bio"></textarea>
            </div>
            <div>
                <label for="id_birth_date">Birth Date:</label>
                <input type="date" id="id_birth_date" name="birth_date">
            </div>
            <button type="submit">Update</button>
        </form>
    </div>
    <div id="current-user-id" data-id="{{ user.id }}" style="display:none;"></div>
    <div id="connect-url" data-url="{% url 'send-connectionreq-api' %}" style="display:none;"></div>
    <div id="retrieve-url-api" data-url="{% url 'profile-retrieve-api' 0 %}" style="display:none;"></div>
    <div id="retrieve-url" data-url="{% url 'profile' 0 %}" style="display:none;"></div>
    <div id="update-url" data-url="{% url 'profile-update-api' 0 %}" style="display:none;"></div>
    <div id="login-url" data-url="{% url 'login' %}" style="display:none;"></div>
</body>
</html>
