{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="{% static 'post/css/post.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'post/js/post.js' %}"></script>
</head>
<body>
    <div class="form-container">
        <h1>Post</h1>
        <form id="postForm" method="post" enctype="multipart/form-data" data-url="{% url 'create-post-api' %}">
            {% csrf_token %}
           <div>
                <label for="text">Text</label>
                <textarea id="text" name="text" rows="5" cols="50"></textarea>
            </div>
            <div>
                <label for="fileInput">Image:</label>
                <input type="file" id="fileInput" name="profile_picture">
            </div>
            <input type="submit" value="Post">
        </form>
    </div>
</body>
</html>
