{% extends 'base.html' %}
{% load static %}
{% block title %}Create Post{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'post/css/post.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'post/js/create-post.js' %}"></script>
{% endblock %}
{% block content %}
<div class="form-container">
        <form id="postForm" method="post" enctype="multipart/form-data" data-url="{% url 'create-post-api' %}">
            {% csrf_token %}
           <div>
                <label for="text">Text</label>
                <textarea id="text" name="text" rows="5" cols="50"></textarea>
            </div>
            <div>
                <label for="fileInput">Image:</label>
                <input type="file" id="fileInput" name="image">
            </div>
            <input type="submit" value="Post">
        </form>
</div>
{% endblock %}
